    /*You can change the background color or do shit her.e*/
    
    body,
    html {
        width: 100%;
        height: 100%;
        font-size: 18px;
    }
    /*
    control how big you want the slider...
    left 40% means it's 40% of the width to right.
    you can control how it looks here
*/
    
    .slider {
        margin: auto;
        width: 500px;
        height: 300px;
    }
    /*set the image here... you can change he width and height
    100% means it fills .slider , as big as .slider is
*/
    
    .slider img {
        width: 500px;
        height: 300px;
    }
    
    @media(max-width: 580px) {
        .slider {
            margin: auto;
            width: 400px;
            height: 300px;
        }
        .slider img {
            width: 400px;
            height: 300px;
        }
    }
    
    @media(max-width: 480px) {
        .slider {
            margin: auto;
            width: 300px;
            height: 250px;
        }
        .slider img {
            width: 300px;
            height: 250px;
        }
    }
    
    @media(max-width: 380px) {
        .slider {
            margin: auto;
            width: 250px;
            height: 200px;
        }
        .slider img {
            width: 250px;
            height: 200px;
        }
    }
    /*
    changing the color or size of the dots
*/
    
    .slick-dots li button:before {
        color: deepskyblue;
        font-size: 16px;
    }
    /* change the color of the selected dots when people click on it*/
    
    .slick-dots li.slick-active button:before {
        color: black;
    }
    /*
    color / width/height of the left and right arrow
*/
    
    .slick-prev:before,
    .slick-next:before {
        color: deepskyblue;
    }
    
    @media (min-width: 992px) {
        .navbar .navbar-nav {
            display: inline-block;
            float: none;
            vertical-align: top;
        }
        .navbar .navbar-collapse {
            text-align: center;
        }
    }
    
    .nav img {
        height: 30px;
        width: 25px;
        margin-right: 5px;
    }
    
    .navbar {
        font-weight: bold;
        text-align: center;
    }
    
    .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-nav>li>a {
        background-color: darkred;
        color: black;
    }
    
    @media (max-width: 992px) {
        .navbar-header {
            float: none;
        }
        .navbar-toggle {
            display: block;
        }
        .navbar-collapse {
            border-top: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        }
        .navbar-collapse.collapse {
            display: none!important;
        }
        .navbar-collapse.collapse.in {
            display: block!important;
        }
        .navbar-nav {
            float: none!important;
            margin: 7.5px -15px;
        }
        .navbar-nav>li {
            float: none;
        }
        .navbar-nav>li>a {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .navbar-form {
            padding: 10px 15px;
            margin-top: 8px;
            margin-right: -15px;
            margin-bottom: 8px;
            margin-left: -15px;
            border-top: 1px solid transparent;
            border-bottom: 1px solid transparent;
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
            width: auto;
            float: none!important;
        }
    }
    
    table {
        border-collapse: collapse;
        border: 2px black solid;
        font: 12px sans-serif;
    }
    
    td {
        border: 1px black solid;
        padding: 5px;
    }
    
    .center-card {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        position: absolute;
    }
    
    .card {
        width: 300px;
        height: 300px;
        display: block;
        position: relative;
        border-radius: 2px;
        box-sizing: border-box;
        overflow: hidden;
        border: none;
        background-position: center;
    }
    
    .card img {
        width: 300px;
        height: 250px;
    }
    
    .put-some-break {
        margin-top: 30px;
    }
    
    .put-some-break-top {
        margin-top: 60px;
        margin-bottom: 30px;
    }
    
    .more-lines {
        margin-top: 100px;
        margin-bottom: 30px;
    }
    
    .bombay {
        margin-top: 100px;
    }
    
    .bombaytaco {
        position: relative;
        display: inline-block;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .bombaytaco table {
        width: 600px;
        font-size: 20px;
    }
    
    @media(max-width: 650px) {
        .bombaytaco table {
            width: 500px;
        }
    }
    
    @media(max-width: 550px) {
        .bombaytaco table {
            width: 400px;
        }
    }
    
    @media(max-width: 450px) {
        .bombaytaco table {
            width: 300px;
        }
    }
    
    .cyclonesaladswraps {
        margin-top: 300px;
    }
    
    .oodles {
        margin-top: 50px;
    }
    
    .thegrill {
        margin-top: 250px;
    }
    
    .urbanpizza {
        margin-top: 80px;
    }
    
    .dininghours {
        margin-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 50px;
    }
    
    .hourstable {
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
    }
    /* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
    
    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
        /* Force table to not be like tables anymore */
        .dininghours table,
        .dininghours thead,
        .dininghours tbody,
        .dininghours th,
        .dininghours td,
        .dininghours tr {
            display: block;
            font-size: 12px;
        }
        /* Hide table headers (but not display: none;, for accessibility) */
        .dininghours thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        .dininghours tr {
            border: 1px solid #ccc;
        }
        .dininghours td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }
        .dininghours td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
        /*
	Label the data
	*/
        .dininghours td:nth-of-type(2):before {
            content: "Monday - Thursday";
        }
        .dininghours td:nth-of-type(3):before {
            content: "Friday";
        }
        .dininghours td:nth-of-type(4):before {
            content: "Saturday";
        }
        .dininghours td:nth-of-type(5):before {
            content: "Sunday";
        }
    }
    
    .googleforms {
        padding-top: 50px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 50px;
    }
    
    @media(max-width:500px) {
        .ss-q-long {
            width: 90%
        }
    }
    
    .ss-q-long {
        resize: vertical;
        width: 70%
    }
    
    .ss-q-long {
        border: 1px solid #bbb;
        padding: 0.4em 0.6em
    }
    
    .add-20px {
        padding-bottom: 20px;
    }
    
    .marbot {
        margin-bottom: 50px;
    }