/*You can change the background color or do shit her.e*/

body,
html {
    font-size: 18px;
}


/*
    control how big you want the slider...
    left 40% means it's 40% of the width to right.
    you can control how it looks here
*/

.slider {
    top: 10%;
    margin: auto;
    width: 500px;
    height: 300px;
}


/*set the image here... you can change he width and height
    100% means it fills .slider , as big as .slider is
*/

.slider img {
    width: 600px;
    height: 300px;
}


/*
    changing the color or size of the dots
*/

.slick-dots li button:before {
    color: deepskyblue;
    font-size: 16px;
}


/* change the color of the selected dots when people click on it*/

.slick-dots li.slick-active button:before {
    color: black;
}


/*
    color / width/height of the left and right arrow
*/

.slick-prev:before,
.slick-next:before {
    color: deepskyblue;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
}

.nav img {
    height: 30px;
    width: 25px;
    margin-right: 5px;
}

.navbar {
    font-weight: bold;
    text-align: center;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a {
    background-color: darkred;
    color: black;
}

.row img {
    width: 400px;
    height: 300px;
}

@media (min-width: 1200px) .col-md-4 {
    width: 33.33333333%;
}